/* This is a style sheet */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=Raleway:wght@200&display=swap');
body {
  margin: 0 auto;
  width: 960px;
  font-family: "Raleway", "Copperplate", sans-serif;
  font-weight: 200;
  background-color: rgb(0,0,0);
}

a,
a:link {
  font-size: 25px;
  color: rgb(91,180,255);
}

a:visited {
  color: rgb(101,211,110);
}

a:hover {
  color: rgb(234,151,69);
}

a:active {
  color: rgb(98,63,132);
}

h1 {
  font-size: 50px;
}

h2 {
  color: rgb(0,0,0);
  background-color: rgb(115, 223, 222);
  font-family: "Kanit", "Times New Roman", sans-serif;
  font-size: 32px;
  font-style: bold;
  font-weight: 400;
  text-align: left;
  border-bottom: 3px dotted rgb(255,255,255);
  margin: 20px 0;
}

h3 {
  font-size: 28px;
  color: rgb(252,207,100);
}
p {
  font-size: 20px;
  color: rgb(255,255,255);
  line height: 24px;
  margin: 20px 0;
}

figure {
  margin-left: 0;
}

img {
  margin-left: 0;
}

header {
  color: rgb(255,255,255);
  text-align: center;
  margin-right: 0;
}

nav li {
  font-family: "Times New Roman";
  color: rgb(0,99,180);
  font-size: 35px;
  list-style-type: none;
  display: inline;
  padding: 2px 10px;
  margin-left: 90px;

}

main li {
  font-size: 20px;
  color: rgb(255,255,255);
  list-style-type: circle;
  padding: 5px;
  margin-right: 0;

}


#work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
  "heading heading"
  "paragrah paragraph"
  "zl1 scatpack"
  "mustang wheel";
}

#work h2 {
  grid-area: heading;
}

#paragraph p {
  grid-area: paragrah;
}
#zl1 {
  grid-area: zl1;
}

#mustang {
  grid-area: mustang;
}

#scatpack {
  grid-area: scatpack;
}

#wheel {
  grid-area: wheel;
}

#resources {
  grid-area: resources;
}

caption {
  text-align: center;
  font-size: 25px;
  color: rgb(252,207,100);
  padding: 5px;
}

figcaption {
  color: rgb(255,255,255);
}
footer {
  padding: 0;
  margin: 0;
  width: 350px;
  background-color: rgba(106,107,107,0.5);
  border: 5px double rgb(0,0,00);
  border-collapse: collapse;
}
